<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JWP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Janata Wifi Fullstack App</h1>
      <div class="chart">
        <form>
          <select name="trade_code">
            {% for c in codes %}
              <option value={{c}}>{{c}}</option>
            {% endfor %}
          </select>
          <button type="submit">Filter</button>
        <form>
        {{ chart|safe }}  
      </div>
      <hr>
      <a href="{% url 'add' %}">Add New</a>
      <table>
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Trade Code</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Open</th>
                  <th>Close</th>
                  <th>Volume</th>
              </tr>
          </thead>
          <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ item.date }}</td>
                  <td>{{ item.trade_code }}</td>
                  <td>{{ item.high }}</td>
                  <td>{{ item.low }}</td>
                  <td>{{ item.open }}</td>
                  <td>{{ item.close }}</td>
                  <td>{{ item.volume }}</td>
                  <td class='btn'>
                    <a href="update/{{item.id}}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td class='btn'>
                    <a href="delete/{{item.id}}">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
      <h5>Truncated to show top 20 items</h5>
    </div>
  </body>
</html>
